form {
  display: block;
}

div.formRow {
  display: block;
  width: 100%;
  float: left;
}

label {
  float: left;
  display: block;
}

input[submit] {
  float: left;
  clear: left;
  display: block;
}